body {
  margin: 0;
  height: 100vh;
  background: url('assets/viewbackground.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Tinos', serif;
}

.heading {
  position: absolute;
  top: 0rem;
  left: 4rem;
  color: rgba(250, 235, 215, 0.85);
}

.memory-container {
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(244, 240, 240, 0.5);
  max-width: 85vw;
  max-height: 80vh;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  align-items: center;
}

.polaroid img {
  max-width: 30rem;
  max-height: 25rem;
  padding: 2rem 1rem 4rem 1rem;
  background-color: rgb(212, 191, 165);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.outercontent {
  max-width: 34rem;
  background: rgba(245, 255, 245, 0.3);
  padding: 1.5rem;
  border-radius: 1.2rem;
  width: 30rem;
  height: 20rem;
  backdrop-filter: blur(4px);
  box-shadow: -10px -10px 40px rgba(255, 255, 200, 0.2), 4px 4px 30px rgba(54, 86, 63, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10rem;
}

.content {
  background-color: rgba(122, 162, 122, 0.652);
  height: 100%;
  font-family:"Quicksand", sans-serif;
  font-size: 1.2rem;
  color: #fffef3;
  line-height: 1.8rem;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
  white-space: pre-wrap;
  overflow-y: auto;
}

.content p {
  margin-left: 1rem;
}

.back-btn {
  /* margin-top: 1rem; */
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to right, #2accae, #3e87a0);
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  align-self: flex-end;
  position: absolute;
  bottom: -4rem;
  right: 0rem;
}

.back-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(209, 157, 183, 0.742);
}

.content::-webkit-scrollbar {
  width: 0.7rem;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #acca938a;
  border-radius: 2rem;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #84aaa5;
}

.logo {
    position: fixed;
    width: 8rem;
    height: 8rem;
    bottom: 1rem;
    margin-left: 3rem;
    left: 1rem;
    /* box-shadow:  0 0 2rem rgba(217, 220, 59, 0.419); */
    border-radius: 50%;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; */
}   

.logo:hover {
  transform: scale(1.1);
  /* box-shadow: 0 12px 25px rgba(255, 255, 200, 0.6); */
  /* filter: brightness(1.1) drop-shadow(0 0 10px rgba(255, 255, 160, 0.8)); */
}